<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InfraVocabularyWindows.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <InfraVocabularyWindows.My.MySettings>
            <setting name="FontColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="IsToolbarOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsStatusbarOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupFile" serializeAs="String">
                <value>default.voc</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Times New Roman, 14.25pt</value>
            </setting>
            <setting name="View" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListViewSort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Backgrounds" serializeAs="String">
                <value>exit1,dog,about,bk_bird</value>
            </setting>
        </InfraVocabularyWindows.My.MySettings>
    </userSettings>
</configuration>
